.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px
}

.card {
    border-radius: 10px;
    border: 0.5px solid black;
    padding: 1rem;
}

.btn-groupe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;    
}

.btn-groupe button {
    padding: 0.5rem 0.85rem;
    cursor: pointer;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid orange;
    color: white;
    margin-right: 10px;
}

.btn-groupe button:active {
    background-color: brown;
}